
/* Your CSS Code here. */
.holder{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
}
#box-1{
	width:200px;
	height:200px;
	background-color:green;
	
}
#box-2{
	width:200px;
	height:200px;
	background-color:red;
	
}
#box-3{
	width:200px;
	height:200px;
	background-color:blue;
	
}